//*----------> Import Font Family

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

//*----------> Font Family

$poppins: 'Poppins', sans-serif;

//*----------> Colors

$lt-blue: hsl(224, 23%, 55%);
$dk-blue: hsl(223, 47%, 23%);